            .button {
                background-color: #26bfed;
                border: none;
                color: white;
                padding: 5px 5px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 15px;
                margin: 4px 2px;
                cursor: pointer;
            }
            body{
                background-color:#FFFFFF;
                color:black;
            }
            p,td{
                padding:0px;
                text-align: left;
                font-size: 18px;
                font-family: "Times New Roman", Times, serif;
            }
            tr{
                font-size:25px;
            }
            h2{
                font-size:35px;
            }
            p{
                font-size:25px;
            }
            ul{
                font-size:25px;
            }
            ol{
                font-size:25px;
            }
            h1{
                color:rgb(121, 113, 233); font-size:50px;
            }
            table, th, td {
                border: 1px solid #000000;
            }
            .evenRow{
                background-color:rgb(138,43,226);
            }
            .oddRow{
                background-color:rgb(199,21,133);
            }
            .hobbies{
                color:rgb(110,105,220);
            }
            .preDish{
                color:#70ffdb;
            }
            .favBooks{
                color:#fa6bf5;
            }
            .website{
                color:#70e5ff;
            }
            .boutMe{
                color:rgb(138,43,226);
            }
            .center{
                margin-left: auto;
                margin-right: auto;
            }