            .button {
                background-color: #26bfed;
                border: none;
                color: white;
                padding: 5px 5px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 15px;
                margin: 4px 2px;
                cursor: pointer;
            }
            body{
                background-color:#ECD3FF;
                color:black;
                font-family: "times";
            }
            p,td{
                padding:0px;
                text-align: left;
                font-size: 18px;
            }
            tr{
                font-size:25px;
            }
            h2{
                font-size:35px;
            }
            p{
                font-size:25px;
            }
            ul{
                font-size:25px;
            }
            ol{
                font-size:25px;
            }
            h1{
                color:black; font-size:50px;
            }
            table, th, td {
                border: 1px solid #000000;
            }
            .center{
                margin-left: auto;
                margin-right: auto;
            }
            .float {
                float:right;
                padding-right:50px
            }
            li{
                font-size: 19px;
            }
            .right{
                width:900px;
            }
            .shift{
                width:270px;
                height:380px;
                float:left;
                padding-right: 50px;
            }
            .me{
                font-size:25px;
                color:black;
                overflow:hidden;
                margin-left:auto;
                padding:5px;
                font-weight: bold;
            }
            .float {
                float:right;
                padding-right:50px
            }
            

            